@import "./../styles/variables";

.DareConfirmation {
  width: 100vh;
  height: 80vh;
  h1 {
    line-height: 1.2;
    padding: 100px 100px 50px 100px;
  }

  div {
    text-align: center;
    button {
      margin: 50px 0 0 0;
    }
  }
}
