@import "./../../styles/variables";

.DareStatusModul {
  h1 {
    line-height: 1.5;
  }
  .side-by-side {
    display: flex;
    width: 100%;

    .Left {
      margin: 2em;
      h5 {
        padding: 12px 0px 12px 0px;
        margin: 0 15px;
        font-size: 1.5em;
      }

      p {
        padding: 12px 0px 12px 0px;
        margin: 0 15px;
      }

      form {
        margin: 0 0 50px 0;
        flex: 1;
        text-align: left;
        vertical-align: top;
      }
    }

    .Dare {
      margin: 0 100px;
      flex: 1;
      color: red;
    }
  }
}
