@import "./../../styles/variables";

.DareStatusModul {
  .Center {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    h1 {
      padding: 100px 100px 20px 100px;
    }
    p {
      padding: 16px 16px 50px 16px;
    }
  }

  h1 {
    line-height: 1.5;
  }
  .side-by-side {
    display: flex;
    width: 100%;

    .Left {
      margin: 2em;
      h5 {
        padding: 12px 0px 12px 0px;
        margin: 0 15px;
        font-size: 1.5em;
      }

      p {
        padding: 12px 0px 12px 0px;
        margin: 0 15px;
      }

      form {
        margin: 0 0 50px 0;
        flex: 1;
        text-align: left;
        vertical-align: top;
      }
    }

    .Dare {
      margin: 0 100px;
      flex: 1;
      color: red;
    }
    button {
      margin: 15px 0 50px 15px;
    }
  }
}
