@import "./../styles/variables";

.DareItem {
  width: 20em;
  margin: 0 0 10em 0;

  img {
    height: 12em;
    width: 100%;
    object-fit: cover;
  }
  div {
    padding: 1em;
    background-color: white;

    h5 {
      font-family: $special-font;
      font-size: 1em;
      color: $black;
      letter-spacing: 0.1em;
    }
    p {
      font-size: 0.8em;
      color: $grey;
      margin: 0 0 2px 0;
    }

    h6 {
      font-family: $special-font;
      font-size: 0.8em;
      color: $black;
      margin: 12px 0 4px 0;
      letter-spacing: 0.1em;
    }
  }
}
