@import "./../styles/variables";

.DareItem {
  background-color: white;
  height: 34em;
  width: 20em;

  img {
    height: 12em;
    width: 100%;
    object-fit: cover;
  }
  div {
    padding: 1em;

    h5 {
      font-family: $special-font;
      font-size: 1em;
      color: $black;
      letter-spacing: 0.1em;
    }
    p {
      font-size: 0.8em;
      color: $grey;
    }
    .Price {
      font-size: 1em;
      color: $black;
    }
  }
}
