@import "./../styles/variables";

.TemplateList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  a {
    margin: 1em;

    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
  }

  a:hover {
    height: 20.5em;
    width: 12.5em;
    margin: 0.5em;
  }
}
