@import "variables";

.CreateDare {
  .side-by-side {
    display: flex;
    width: 100%;

    .Template {
      margin: 0 100px;
      flex: 1;
      color: red;
    }

    form {
      margin: 0 0 100px 0;
      flex: 1;
      text-align: left;
      vertical-align: top;
    }
  }
}
