@import "variables";

* {
  box-sizing: border-box;
}

body {
  font-family: $body-font;
  margin: 0;
  padding: 0;
  background-color: $whiteorange;
}

.Body {
  max-width: 75em;
  margin: 0 auto;
  padding: 0 1em;

  h1 {
    align-items: center;
    text-align: center;
    padding: 100px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  margin-bottom: 1rem;
  line-height: 1;
  font-family: $h-font;
}

a {
  text-decoration: none;
  color: inherit;
}

@mixin body-grid {
  max-width: 75em;
  margin: 0 auto;
  padding: 0 1em;
}

form {
  display: flex;
  flex-direction: column;
  text-align: left;

  p {
    padding: 12px 0px 12px 0px;
    margin: 0 15px;
    font-size: 1.5em;
  }

  input {
    background-color: white;
    border: none;
    padding: 12px 24px 12px 24px;
    margin: 10px 15px;
  }

  input:focus {
    outline: none;
  }

  button {
    margin: 10px 15px;
  }

  select {
    padding: 12px 24px 12px 24px;
    margin: 10px 15px;
    border: none;
    outline: none;
    color: $black;
    select:active {
      border: none;
      outline: none;
    }
  }
}

button {
  border: none;
  background-color: $orange;
  color: white;
  padding: 12px 24px 12px 24px;
  margin: 10px 15px 10px 0;
  width: auto;
  button:active {
    border: none;
    outline: none;
  }
}
